<!DOCTYPE html>
<partial name="_CopyrightHeader"/>
<html lang="en">
	<head>
		<partial name="_Head"/>
		@RenderSection("HeadBlock", required: false)
	</head>
    <body class="mod-bg-1 mod-nav-link nav-function-fixed @ViewBag.PreemptiveClass">
        <partial name="_ScriptsLoadingSaving" />
        <div class="page-wrapper">
            <div class="page-inner">
                <partial name="_LeftPanel" />
                <div class="page-content-wrapper">
                    <partial name="_PageHeader" />
                    <main id="js-page-content" role="main" class="page-content">
                        @if (ViewBag.PreemptiveClass?.Length > 0)
                        {
                        }
                        else
                        {
                            <partial name="_PageBreadcrumb" />
                            <div class="subheader">
                                <partial name="_PageHeading" />
                                @RenderSection("SubheaderBlock", required: false)
                            </div>
                        }
                        @RenderBody()
                    </main>
                    <partial name="_PageContentOverlay" />
                    <partial name="_PageFooter" />
                    <partial name="_ShortcutModal" />
                    <partial name="_ColorProfileReference" />
                </div>
            </div>
        </div>
        @*<partial name="_ShortcutMenu" />
        <partial name="_ShortcutMessenger" />
        <partial name="_PageSettings" />
        <partial name="_GoogleAnalytics" />*@
        <partial name="_ScriptsBasePlugins" />
        @RenderSection("ScriptsBlock", required: false)

        <script type="text/javascript">
            function logout() {
                bootbox.confirm({
                    title: "<i class='fal fa-check-circle text-success mr-2'></i> Are you sure you want to proceed?",
                    message: "<span><strong>Information:</strong> You will be logged out.</span>",
                    centerVertical: true,
                    swapButtonOrder: true,
                    onEscape: true,
                    backdrop: true,
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-primary shadow-0'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-default'
                        }
                    },
                    className: "modal-alert",
                    closeButton: false,
                    callback: function (result) {
                        if (result == true) {
                            $.ajax({
                                type: 'POST',
                                url: '/Account/Logout',
                                success: function (data) {
                                    location.href = "/Account/Login"
                                }
                            });
                        };
                    }
                });
            };
        </script>
    </body>
</html>

